<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="65536" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="EndPointConfiguration"
                 sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="defaultBehavior" name="DoorService.DoorService">
        <endpoint name="MyEndPoint"
           address="net.tcp://localhost:9900/DoorService/service"
           binding="netTcpBinding"
           bindingConfiguration="EndPointConfiguration"
           contract="DoorService.IDoorService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9900/DoorService/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9901/DoorService/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="DoorService.DoorService">
        <endpoint
          address="service"
          binding="netTcpBinding"
          contract="DoorService.IDoorService"
          name="TcpBinding" />
        <endpoint
          address="service"
          binding="wsDualHttpBinding"
          contract="DoorService.IDoorService"
          name="HttpBinding" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"
          name="MexBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9900/DoorService/" />
            <add baseAddress="http://localhost:9901/DoorService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBConnectionString"
    connectionString="Data Source=localhost;Initial Catalog=DoorDB;Persist Security Info=True;User ID=sa;Password=Pa33word"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>